$u: 4px;
$u2: $u * 2;
$u3: $u * 3;
$u4: $u * 4;
$u5: $u * 5;
$u6: $u * 6;
$u7: $u * 7;
$u8: $u * 8;
$u9: $u * 9;
$u10: $u * 10;
$u11: $u * 11;
$u12: $u * 12;
$u13: $u * 13;
$u14: $u * 14;
$u15: $u * 15;
$u16: $u * 16;
$u17: $u * 17;
$u18: $u * 18;
$u19: $u * 19;
$u20: $u * 20;
$u21: $u * 21;
$u22: $u * 22;
$u23: $u * 23;
$u24: $u * 24;
$u25: $u * 25;
$u26: $u * 26;
$u27: $u * 27;
$u28: $u * 28;
$u29: $u * 29;
$u30: $u * 30;
$u31: $u * 31;
$u32: $u * 32;
$u33: $u * 33;
$u34: $u * 34;
$u35: $u * 35;
$u36: $u * 36;
$u37: $u * 37;
$u38: $u * 38;
$u39: $u * 39;
$u40: $u * 40;
$u41: $u * 41;
$u42: $u * 42;
$u43: $u * 43;
$u44: $u * 44;
$u45: $u * 45;
$u46: $u * 46;
$u47: $u * 47;
$u48: $u * 48;
$u49: $u * 49;
$u50: $u * 50;
$u51: $u * 51;
$u52: $u * 52;
$u53: $u * 53;
$u54: $u * 54;